table, tr, td, th {
    border: 1px solid red;
    border-collapse: collapse;
}
fieldset {
    background-color: burlywood;
}
.box {
    padding: 25px !important;
    padding-left: 30px !important;
    margin-top: 35px;
    background-color: crimson;
    margin-bottom: 29px;
}
p {
    border: 1px solid red;
    padding: 30px;
}
span {
    border: 1px solid green;
    padding: 10px;
}
.primera-caja {
   /* background: black;*/
    width: 100%;
    height: 300px;
    background-image: url(001665530034.jpg);
    background-position: center center;
}
h1 {
    font-size: 50px;
    color: white;
    padding: 50px;
    text-align: center;
    position: absolute;
    text-shadow: -2px 2px 5px black;
    
}
.segunda-caja {
    width: 100%;
    height: 300px;
    background-image: url(eventtia_log.png);
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
}
